.introSection {
  padding: 5rem 1rem;
  color: var(--color-yellow-1);
}

.introSection__title {
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.introSection__description {
  font-family: "Libre Baskerville", serif;
  font-size: 2rem;
  text-align: center;
}

@media (min-width: 48em) {
  .introSection__title {
    text-align: initial;
    font-size: 3.6rem;
  }

  .introSection__description {
    text-align: initial;
    font-size: 2.4rem;
  }
}

.introSection__description {
  animation: fadeInOut 2s ease-in-out infinite alternate;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
